extends layout

block content
	.container
		section.title-row
			h1 Recipe Post Form 
		section.form-sect
			form(action="../api/comment", method="POST")
				label(for="text_body") Text_Body
					input#text_body(type="text", name="text_body")
				input#submitInput(type="submit", value="Submit")