extends layout

block content
	.container
		section.title-row
			h1 User Form 
		section.form-sect
			form(action="../user/login", method="POST")
				label(for="name") Name
					input#name(type="text", name="name")
				label(for="password") Password
					input#password(type="text", name="password")
				input#submitInput(type="submit", value="Submit")