extends layout

block content
	.container
		section.title-row
			h1 Recipe Post Form 
		section.form-sect
			form(action="../api/recipeposts", method="POST", enctype="multipart/form-data")
				label(for="recipe_title") Recipe_title
					input#recipe_title(type="text", name="recipe_title")
				label(for="recipe_imgs") Recipe Imgs
					input#recipe_imgs(type="file", name="recipe_imgs", multiple)
				div.dropzone-previews
				div#recipeImgDropzone.dropzone
				label(for="recipe_instructions") recipe_instructions
					input#recipe_instructions(type="text", name="recipe_instructions")
				label(for="recipe_ingredients") recipe_ingredients
					input#recipe_ingredients(type="text", name="recipe_ingredients")
				label(for="recipe_likes") recipe_likes
					input#recipe_likes(type="number", name="recipe_likes")
				input#submitInput(type="submit", value="Submit")
		script.
			console.log('Initting Dropzone', Dropzone)
			//- Dropzone.options.recipeImgDropzone= {
			//-     url: '../api/recipepost',
			//-     autoProcessQueue: false,
			//-     uploadMultiple: true,
			//-     parallelUploads: 5,
			//-     maxFiles: 5,
			//-     maxFilesize: 1,
			//-     acceptedFiles: 'image/*',
			//-     addRemoveLinks: true,
			//-     init: function() {
			//-         dzClosure = this; // Makes sure that 'this' is understood inside the functions below.

			//-         // for Dropzone to process the queue (instead of default form behavior):
			//-         //- document.getElementById("submitInput").addEventListener("click", function(e) {
			//-         //-     // Make sure that the form isn't actually being sent.
			//-         //-     e.preventDefault();
			//-         //-     e.stopPropagation();
			//-         //-     dzClosure.processQueue();
			//-         //- });

			//-         //send all the form data along with the files:
			//-         this.on("sending", function(data, xhr, formData) {
			//-         console.log('sending')
			//-             formData.append("recipe_title", document.getElementById("recipe_title").value);
			            
			//-         });
			//-     }
			//- }			