.--marb16{
	margin-bottom: 16px !important;
}

.postlist__container{
	overflow: visible
}

@media(max-width: 767px) {
	.postlist__container{
	
		overflow: visible;
		
	}
}

.postlist__thumbnail{
	position: absolute !important;
	top: 0px !important;
	left: 0px !important;
	margin: 0px 5px 0px 0px !important;
	height: 70px !important;
	width: 70px !important;
}
