$grey: rgba(0, 0, 0, 0.541176);
$pinkA100: rgb(255, 128, 171);
$white: rgb(255, 255, 255);

.--unavailable{
	color: $grey;
}

.--padlr0{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.--width100{
	width: 100%;
}

.--height100{
	height: 100% !important;
}

.--pad15{
	padding: 15px !important;
}

.__nextrecipebtn{
	position: absolute;
	right: 5px;
	top: 10px;
}

.cardmedia__imgcontainer > div{
	height: 50vh !important;
	width: 100% !important;
	background-color: $pinkA100;
}

.cardmedia__backupimg{
	height: 50vh !important;
	width: 100% !important;
	background-color: $pinkA100;
}

.backup__icon{
	position: absolute !important;
	right: 5px !important;
	top: 5px !important; 
	color: $white !important;
}

@media(max-width: 1439px){
	.cardmedia__imgcontainer > div{
			height: 40vh !important;
	}
	.cardmedia__backupimg{
			height: 40vh !important;
	}
}

.viewtext__container{
	max-height: 70vh;
	overflow: auto;
}

@media(max-width: 767px){
	.viewtext__container{
		max-height: 40vh;
		overflow: auto;
	}
}