$grey: rgba(0, 0, 0, 0.541176);
$pinkA100: rgb(255, 128, 171);
$white: rgb(255, 255, 255);


@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}


.--unavailable{
	color: $grey;
}

.--padlr0{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.--width100{
	width: 100%;
}

.--height100{
	height: 100% !important;
}

.--pad15{
	padding: 15px !important;
}

.--opacity70{
	opacity: 0.7 !important;
}

.__nextrecipebtn{
	position: absolute;
	right: 5px;
	top: 10px;
}

.cardmedia__imgcontainer > div{
	height: 50vh !important;
	width: 100% !important;
	
	background-image: url('http://res.cloudinary.com/qwertwerty21/image/upload/v1488992988/food_c2sqh2.png');
	background-color: $pinkA100;
	@include animation( "sidescroll 60s linear infinite" );
}

//KEYFRAMES SIDESCROLL

@include keyframes( sidescroll ){
	
	0%{
     background-position: 0 0;
 	}

 	100%{
     background-position: 1500px 2000px;
 	}
}

.cardmedia__backupimg{
	height: 50vh !important;
	width: 100% !important;
	background-color: $pinkA100;
}

.backup__icon{
	position: absolute !important;
	right: 5px !important;
	top: 5px !important; 
	color: $white !important;
}

@media(max-width: 1439px){
	.cardmedia__imgcontainer > div{
			height: 40vh !important;
	}
	.cardmedia__backupimg{
			height: 40vh !important;
	}
}

@media(max-width: 425px){
	.cardmedia__imgcontainer > div{
			height: 35vh !important;
	}
	.cardmedia__backupimg{
			height: 35vh !important;
	}
}

@media(max-width: 320px){
	.cardmedia__imgcontainer > div{
			height: 30vh !important;
	}
	.cardmedia__backupimg{
			height: 30vh !important;
	}
}

.viewtext__container{
	max-height: 70vh;
	overflow: auto;
}

@media(max-width: 767px){
	.viewtext__container{
		max-height: 40vh;
		overflow: auto;
	}
}